<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />
<f:section name="main">

    <f:flashMessages />
    <f:if condition="{data}">
        <f:then>
            <f:if condition="{data.match.0}">
                <f:then>
                    <f:for each="{data.match}" as="match">
                        <f:render partial="Server/LastResults-detail" arguments="{_all}" />

                    </f:for>
                    <hr class="style2">
                </f:then>
                <f:else if="{data.match}">
                    <f:for each="{data}" as="match">
                        <f:render partial="Server/LastResults-detail" arguments="{_all}" />
                    </f:for>
                    <hr class="style2">
                </f:else>
            </f:if>
        </f:then>
    </f:if>

</f:section>