<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="row">
<div class="col-4">
	<address>
		<h2 id="{location.id}" class="page_header">{location.name}
			<f:if condition="{location.extraField} != '-'">
				<f:then>
					<snall>{location.extraField}</snall>
				</f:then>
			</f:if>
		</h2>
		{location.street}<br>
		{location.postalCode}&nbsp;{location.city}<br>
		<f:if condition="{location.note} != '-'">
			<f:then>
				Hinweis: <span class="text-danger">{location.note}</span>
			</f:then>
		</f:if>
	</address>
</div>
<div class="col-8">
	<div id="basicMap" style="height:500px"></div>
	<f:if condition="{cords.0} == ''">
		<f:then>
			<div class="alert alert-danger">
				<p>Fehler beim erstellen der Karte!</p>
			</div>
		</f:then>
		<f:else>
			<script>
				var lat            = '{cords.0}';
				var lon            = '{cords.1}';
				var zoom           = 16;

				var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
				var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
				var position       = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);

				map = new OpenLayers.Map("basicMap");
				var mapnik         = new OpenLayers.Layer.OSM();
				map.addLayer(mapnik);

				var markers = new OpenLayers.Layer.Markers( "Markers" );
				map.addLayer(markers);
				markers.addMarker(new OpenLayers.Marker(position));

				map.setCenter(position, zoom);
			</script>
		</f:else>
	</f:if>
</div>
</div>
</html>