<div id="header">
    <h1 class="page-title text-center m-0">Volleyball im</h1>
    <div class="site-header">
        <div class="container">
            <nav class="navbar navbar-expand-xl navbar-dark py-0">
                <div class="navbar-collapse collapse w-100 order-1 order-xl-0 dual-collapse2">
                    <f:cObject typoscriptObjectPath="lib.leftnav"/>
                </div>
                <div id="logo" class="order-0 order-xl-1">
                    <a class="mx-auto" href="/">
                        <img src="typo3conf/ext/fw_mettigels/Resources/Public/Images/Logo.png">
                    </a>

                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                    <f:cObject typoscriptObjectPath="lib.rightnav"/>
                </div>
            </nav>
        </div>

    </div>
</div>
<div id="wrap" class="container wrap pt-5">
    <div id="content" class="container">
    <f:if condition="{backendLayout} == 'landingpage'">
        <f:render section="Landingpage"/>
    </f:if>
        <f:if condition="{backendLayout} == 'teamview'">
            <f:render section="teamview" />
        </f:if>
    <f:if condition="{backendLayout} == 'twocolumn'">
        <f:render section="TwoColumn"/>
    </f:if>
    <f:if condition="{backendLayout} == 'threecolumns'">
        <f:render section="ThreeColumns"/>
    </f:if>
    <f:if condition="{backendLayout} == 'onecolumn'">
        <f:render section="onecolumn"/>
    </f:if>
    </div>
    <div id="footer" class="row py-3">
        <div class="col">
            <f:cObject typoscriptObjectPath="lib.footerLeft"/>
        </div>
        <div class="col">
            <f:cObject typoscriptObjectPath="lib.footerCenterLeft"/>
        </div>
        <div class="col">
            <f:cObject typoscriptObjectPath="lib.footerCenterRight"/>
        </div>
        <div class="col">
            <f:cObject typoscriptObjectPath="lib.footerRight"/>
        </div>
    </div>

</div>
<div class="footer-nav container">
    <div class="row p-3">
    <div class="col footer-navigation text-left">
        <f:cObject typoscriptObjectPath="lib.footerNavigation"/>
    </div>
    <div class="col text-right">
        &copy; <f:format.date date="now" format="Y" /> mettigels.de Design by <a href="https://finiweb.de/" target="_blank">FiniWeb.de</a>
    </div>
    </div>
</div>